 



.container {

    height: calc(100vh - 5rem);
}




.Subtitle_home{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);


    h2{
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: 600;
        color: rgb(99, 99, 111);
        margin-top: 0;
    }

    p{
        font-size: 1.2rem;
    }
 
}



.desc_sobr{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    margin-top: 2rem;

    margin-bottom: 3rem;
    
 




    div{
        width: 35%;
        height: 350px;
        margin: 10px;
        text-align: justify;
        display: flex;
        align-items: center;
        margin-right: 3rem;
        position: relative;
        gap: 1;

      
   


        Image{
            width: 100%;
            height: 300px;
            border-radius: 0.2rem;
            min-width: 15rem;
        }

        p{
            letter-spacing: 0.9px;
            line-height: 2rem;
            font-weight: 300;
            font-size: 1rem;
            text-indent: 1.5rem;
            text-align: justify;
        }
    }


}



 .areas_container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1;

    flex-wrap: wrap;
 }  
 
 



 .Parceiros{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;


    div{
        width: 90%;
        height: 350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:0.5rem;
        align-items: center;
        justify-content: space-between;

        img{
            width: 250px;
            height: 160px;
        }
    }
}
 

 
 .carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

.Subtitle_contact{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: rgb(240, 240, 240);


    h2{
        font-size: 30px;
        font-weight: 600;
        color: rgb(99, 99, 111);
        margin-top: 0;
    }
}