 




 .header{

    width: 100%;
    height: 5rem;
    box-shadow: 0px 0px 4px #00000026;

    position: fixed;
    top: 0;
    left: 0;

    background: #fff;

    z-index:1000;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    h2{
        margin-top: 0;



        a{
            color: #6d44b8;
            font-style: italic;
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        
            transition: all .3s ease;
        }

        a:hover{
            margin-top: 5px;
            color: #000 !important; 
        }
    }


    nav{

        display: flex;
        align-items: center;
        

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            position: relative;

            right: 1rem;

            li{
               margin-left: 0.3rem;  
               
               
               a{
                color: #7a7a7a;
                font-size: 16px;
                text-decoration: none;
               }

               a:hover{
                color: #f00;

                transition: all .3s ease
               }
            }
        }


        .button
        {
            display: flex;
            justify-content: center;
            align-items: center;
        
            margin-left: 20px;



            button{
                width: 100px;
                padding: 0.6rem;  
                margin: 0 5px;
            
                border: 1px solid #6d44b8;
                border-radius: 0.3rem;
                background: none;
                color: #6d44b8;
                transition: all .3s ease-in;


                &:hover{
                    background: #6d44b8;
                    color: #fff;
                }
            }
        }


      

    }
 }
 
 @media screen and (max-width: 768px) {

     .header{
           
                
                nav{

                    display: none;

               }
      }
             
            
}