




    .nav_container{

        display: flex;
        align-items: center;
        

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            position: relative;

            right: 1rem;

            li{
               margin-right: 0.4rem;  
               
               
               a{
                color: #7a7a7a;
                font-size: 16px;
                text-decoration: none;
               }

               a:hover{
                color: #f00;

                transition: all .3s ease
               }
            }
        }


        .button
        {
            display: flex;
            justify-content: center;
            align-items: center;
        
            margin-left: 20px;



            button{
                width: 100px;
                padding: 0.6rem;  
                margin: 0 5px;
            
                border: 1px solid #6d44b8;
                border-radius: 0.3rem;
                background: none;
                color: #6d44b8;
                transition: all .3s ease-in;


                &:hover{
                    background: #6d44b8;
                    color: #fff;
                }
            }
        }
    }